{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Создать статью</title>
    <link rel="stylesheet" href="{% static 'main/css/styles2.css' %}" />
</head>
<body>
    <form class="create" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Создать</button>
    </form>
    {% if form.non_field_errors %}
        <div class="error">{{ form.non_field_errors }}</div>
    {% endif %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="error">{{ error }}</div>
        {% endfor %}
    {% endfor %}
</body>
</html>

